<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.WeatherCheck">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/clouds"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/clouds"
        android:supportsRtl="true"
        android:theme="@style/Theme.WeatherCheck"
        tools:targetApi="31" >

        <activity android:name="com.example.WeatherCheck.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.WeatherCheck.Bangladesh.MapActivityBangladesh"
            >
        </activity>
        <activity
            android:name="com.example.WeatherCheck.Bangladesh.BangladeshSwitch">
        </activity>

        <activity
            android:name="com.example.WeatherCheck.oman.MapActivityOman"
            >
        </activity>
        <activity
            android:name="com.example.WeatherCheck.oman.OmanSwitch">
        </activity>

        <activity
            android:name="com.example.WeatherCheck.glasgow.MapActivityGlasgow"
            >
        </activity>
        <activity
            android:name="com.example.WeatherCheck.glasgow.GlasgowSwitch">
        </activity>


        <activity
            android:name="com.example.WeatherCheck.london.MapActivityLondon"
            >
        </activity>
        <activity
            android:name="com.example.WeatherCheck.london.LondonSwitch">
        </activity>

        <activity
            android:name="com.example.WeatherCheck.newyork.NewyorkSwitch"
            >
        </activity>
        <activity
            android:name="com.example.WeatherCheck.newyork.MapActivityNewYork">
        </activity>


        <activity
            android:name="com.example.WeatherCheck.mauritus.MauritiusSwitch"
            android:label="MauritiusSwitch">
        </activity>
        <activity
            android:name="com.example.WeatherCheck.mauritus.MapActivity"
            >
        </activity>
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyD1TNAGPMgJkDh9B1yMrItNrBjlyNmkCvQ" />
    </application>

</manifest>
